*{
    margin: 0;
    padding: 0;
}
.pizza_img
.main{
    position: relative;
    width: 1920px;
    height: 5354px;
    background: #FFFFFF;
    margin: auto;
}
.card{
    width: 1920px;
    height: 1080px;
    background-image: url(img/image\ 1.png);
}
.card_icon1{
    Width:42.5px;
    height:42.5px;
    position: absolute;
    top: 78.25px;
    left: 164.25px;
}
.card_menyu{
    width: 560px;
    height: 29px;
    position: absolute;
    top: 96px;
    left: 692px;
}
.card_menyu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card_menyu ul li{
    list-style: none;
}
.card_menyu ul li a{
    color: #FFFFFF;
    font-size: 23.5151px;
    text-decoration: none;
    font-family: 'Montserrat';
}
.card_figure{
    width: 500px;
    height: 50px;
    position: absolute;
    top: 97px;
    left: 1378px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.figure_text1{
    width: 109px;
}
.figure_text1 p{
    color: #FFFFFF;
    font-size: 20.1062px;
    font-family: 'Montserrat', sans-serif;
}
.figure_text2{
    width: 174px;
}
.figure_text2 p{
    color: #FFFFFF;
    font-size: 15.6883px;
    font-family: 'Montserrat', sans-serif;
}
.card_title{
    width: 588px;
    height: 120.82px;
    position: absolute;
    left: 160px;
    top: 381px;
}
.card_title p{
    font-size: 48.3288px;
    color: #FFFFFF;
    line-height: 59px;
    font-family: 'Montserrat';
}
.card_icon5{
    width:22.17px;
    height:28.5px;
    position: absolute;
    top:456.75px;
    left:572.9px;
}
.card_text{
    width: 333.73px;
    height: 44px;
    position: absolute;
    left: 160px;
    top: 528px;
}
.card_text P{
    color: #FFFFFF;
    font-size: 18.0209px;
    font-family: 'Montserrat';
}
.card_link{
    width: 210px;
    height: 67px;
    position: absolute;
    left: 160px;
    top: 651px;
    background: #E79912;
    border-radius: 26px;
}
.card_link p{
    text-decoration: none;
    color: #000000;
    font-size: 23.5151px;
    position: absolute;
    left: 60px;
    top: 20px;
    font-family: 'Montserrat';
}
.card_pizza{
    width: 1020px;
    height: 900px;
    position: absolute;
    top: 273px;
    left: 764px;
}
.pizza_figure1{
    width: 195.24px;
    height: 0px;
    border-bottom: 6px solid #E85F0F;
    transform: rotate(46.66deg);
    position: absolute;
    left: 380px;
}
.pizza_figure2{
    width: 12px;
    height: 11px;
    background: #E85F0F;
    border-radius: 50px;
    position: absolute;
    top: 462px;
    left: 401px;
}
.pizza_figure3{
    width: 292px;
    height: 0px;
    border-bottom: 6px solid #E85F0F;
    position: absolute;
    top: 608px;
    left: 542px;
}
.pizza_text1{
    width: 306px;
    position: absolute;
    top: 610px;
    left: 550px;
}
.pizza_text1 p{
    font-size: 54.8749px;
    font-family: 'Nunito';
    color: #FFFFFF;
}
.pizza_text2{
    width: 123px;
    position: absolute;
    top: 680px;
    left: 730px;    
}
.pizza_text2 p{
    font-family: 'Nunito';
    font-size: 34.8746px;
    color: #E85F0F
}
.card_figura2{
    width: 600px;
    height: 50px;
    position: absolute;
    top:969px;
    left:160px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.figure2_text1{
    width: 116px;
    color: #FFFFFF;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}
.figure2_text2{
    width: 138px;
    color: #FFFFFF;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}
.figure2_text3{
    width: 128px;
    color: #FFFFFF;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}
.list{
    position: relative;
    width: 1920px;
    height: 2800px;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.list_item1{
    height: 300px;
}
.item1_title h1{
    font-family: 'Montserrat';
    font-size: 88.672px;
    position: absolute;
    left: 808px;
}
.item1_menyu{
    width:930px;
    height: 36.11px;
    position: absolute;
    top: 233px;
    left:151px;
}
.item1_menyu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item1_menyu ul li{
    text-decoration: none;
}
.item1_menyu ul li a{
    text-decoration: none;
    color: #00000085;
    font-size: 29.7222px;
    font-family: 'Montserrat';
}
.list_item2{
    height:500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.list_item2_2{
    height:500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item2_second{
    position: relative;
    width: 270.6px;
    height: 437.74px;
    background: #FFFFFF;
    box-shadow: 14.3938px 14.3938px 12.9544px rgba(0, 0, 0, 0.25);
    border-radius: 51.7329px;
}
.second_birka{
    position: absolute;
    left: 221.68px;
}
.second_pizza{
    width: 185.33px;
    height: 184.19px;
    position: absolute;
    top: 16.49px;
    left: 43.77px;
}
.second_text p{
    font-family: 'Montserrat';
    font-size: 25.1891px;
    position: absolute;
    top: 218.79px;
    left: 80px;
}
.second_narx p{
    position: absolute;
    font-size: 22.666px;
    color: #E85F0C;
    font-family: 'Nunito';
    top: 269.47px;
    left: 56.85px;
}
.second_icon{
    width: 59.12px;
    height: 17.62px;
    border: 0.568493px solid #000000;
    border-radius: 8.81165px;
    position: absolute;
    top: 274.92px;
    left: 161.21px;
}
.second_link{
    width: 155.77px;
    height: 47.75px;
    background: #E85F0C;
    border-radius: 23.8767px;
    position:absolute;
    top: 349.77px;
    left: 57.57px;
}
.second_link p{
    font-family: 'Nunito';
    font-size: 15.7145px;
    color: #FFFFFF;
    position: absolute;
    top: 13px;
    left: 39px;
}
.list_item3{
    height: 600px;
    position: relative;
}
.item3_subtitle h2{
    font-family: 'Nunito';  
    font-size: 66.5481px;
    position: absolute;
    left: 857px;
    top: 150px;
}
.copy_text{
    width: 1475px;
    height: 300px;
    position: absolute;
    left: 200px;
    top: 300px;
}
.copy_text p{
    font-size: 22.6809px;
    line-height: 63px;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 500;
}
.list_item4{
    position: relative;
    height: 500px;
}
.list_item4 img{
    position: absolute;
    left: 212px;
}
.tabs{
    position: relative;
    width: 1920px;
    height: 971px;
    background-image: url(img/image\ 3.png);
}
.tabs_title h1{
    font-size: 76.2857px;
    color: #FFFFFF;
    font-family: 'Roboto';
    position: absolute;
    top: 158px;
    left: 784px;
    font-weight: 400;
}
.tabs_list{
    width: 1920px;
    height: 290px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    top: 346px;
}
.list_item{
    position: relative;
    width: 500.36px;
    height: 280.14px;
    background: #FFFFFF;
    border-radius: 56.1785px;
}
.item_icon{
    position: absolute;
    left: 209.18px;
    top: 22px;
}
.item_subtitle h2{
    font-size: 36.6587px;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 130px;
    left: 124px;
}
.item_text p{
    font-size: 19.7883px;
    font-family: 'Roboto';
    position: absolute;
    text-align: center;
    left: 80px;
    top: 202px;
}
.tabs_subtitle h2{
    font-size: 76.29px;
    font-family: 'Roboto';
    color: #FFFFFF;
    position: absolute;
    top: 775px;
    left: 770px;
    font-weight: 400;
}

.bottom{
    width: 1920px;
    height: 462px;
    display: flex;
}
.logatsa img{
    width: 1140px;
    height: 462px;
    display: flex;
}
.bot_right{
    width: 779px;
    height: 462px;
    background: #E85F0F;    
    position: relative;
}
.right_manzil{
    position: absolute;
    top: 81px;
    left: 157.76px;
}
.right_manzil h2{
    font-family: 'Roboto';
    font-size: 34.6469px;
    font-weight: 400;
    color: #FFFFFF;
}.right_manzil a{
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 26.1393px;
    color: rgba(255, 255, 255, 0.8);
}
.right_tel{
       position: absolute;
       top: 180px;
       left: 163.53px;
}
.right_tel h2{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 34.6469px;
    color: #FFFFFF;
}
.right_tel a{
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 26.1396px;
    color: rgba(255, 254, 254, 0.78);
}
.right_text{
    position: absolute;
    top: 311px;
    left: 150px;      
}
.right_text p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 22.0475px;
    color: #FFFFFF;
}
.right_icon{
    width: 230px;
    height: 50px;
    position: absolute;
    top: 381px;
    left: 175px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.right_icon i{
    font-size: 40px;
    color: #FFFFFF;
}
.ionicon{
    width: 45px;
    color: #E85F0F;
}
.ionicon2{
    width: 90px;
    color: #E85F0F;
}